animals10
pyproject.toml
poetry.lock
cane
*.mov
eigen
*.jpeg
*.jpg
*.png
.envrc
.venv
*.pyc
myserver
*.zip
*.tar
*.gz
*.bz2
*.rar
*.7z
*.wim
*.iso
checkpoints
*.pth
*.pt
.vscode
image_name_to_path.json
